<section id="navbar">
    
     {{#unless isLoggedIn}}
     <div class="signin">
        <a  href="/auth/signin" id="nav_login">Log in</a>
     </div>
        {{/unless}}
        {{#if isLoggedIn}}

    <div class="signin2">
        <a href="/playlists/manage-playlist" id="nav_logout" class="logbtn">My playlists</a>
        <a  href="/auth/logout" id="nav_logout">Log out</a>
    </div>
        {{/if}}
 <img src="/images/headphones.png" alt="headphones" class="headphones">


</section>
