<section id="navbar">

    <div class="logo">
        <a href="/navbar/">
            <img src="" alt="rabbeat logo">
        </a>
    </div>
    <div class="search-bar">
        <form action="/search" method="get">
            <label for="song"></label>
            <input type="text" name="song" id="song" required placeholder="Search">
        </form>
    </div>
    <div class="signin">
        <a href="/navbar/login">
            Login
        </a>
    </div>


</section>