<section id="navbar">

    <div class="logo">
        <a href="/">
            <img src="" alt="rabbeat logo">
        </a>
    </div>
    <div class="search-bar">
        <form action="/search" method="get">
            <label for="song"></label>
            <input type="text" name="song" id="song" required placeholder="Search">
        </form>
    </div>
    <div class="signin">
        {{#unless isLoggedIn}}
        <a  href="/auth/signin" id="nav_login" class="button-ternary flexed-item nav-end-item">
          <span class="btn-text">Sign in</span>
        </a>
        {{/unless}}
        {{#if isLoggedIn}}
        <a  href="/auth/logout" id="nav_logout" class="button-ternary flexed-item nav-end-item">
          <span class="btn-text">Log out</span>
        </a>
        {{/if}}

    </div>


</section>