<link rel='stylesheet' href='/stylesheets/navbar.css' />

<section id="navbar">
    <div class="logo">
        <a href="/">
            <img src="" alt="rabbeat logo">
        </a>
    </div>
    <div class="search-bar">
        <input type="text" placeholder="Search">
    </div>
    <div class="login">
        <a href="/login">Login</a>
    </div>

</section>