<h1 class="mainTitle">Rabbeat <img src="/images/dot.png" alt="dot" class="dot">music</h1>

<div class="search">
<form class="searchBox" action="/search" method="get" >
    <label for="song"></label>
    <input type="search" name="song" class="searchBar" placeholder="Search song..."id="song" required>
    <button type="submit" value ="Search" class="searchBtn"><i class="fa fa-search"></i></button>
</form>
</div>

<div class="display">

<div class="displaylist">
<div class="overlay"><a href="#">Most popular playlist</a></div>
</div>

<div class="displaylist">
<div class="overlay"><a href="#">Playlist of the day</a></div>
</div>

<div class="displaylist">
<div class="overlay"><a href="/playlists/manage-playlist">Create your own playlist</a></div>
</div>

</div>

<footer><img src="/images/footer.png" alt="footer"></footer>

{{!-- <footer>
              //              
              ('>        _\/_  
              /rr        \  /  
© made with  *\))_  and   \/   
</footer> --}}

