
<h1 class="mainTitle">Rabbeat <img src="/images/dot.png" alt="dot" class="dot">music<img class="rabbit"
        src="/images/logo-rabbeat.svg" alt="rabbit head"></h1>

<h3 class="tagline">Listen, share, inspire</h3>

<div class="search">
    <form class="searchBox" action="/search" method="get">
        <label for="song"></label>
        <input type="search" name="song" class="searchBar" placeholder="Search song..." id="song" required>
        <button type="submit" value="Search" class="searchBtn"><i class="fa fa-search"></i></button>
    </form>
</div>

<div class="display">

    <div class="displaylist">
        <div class="overlay"><a href="#">Most popular playlist</a></div>
    </div>

    <div class="displaylist">
        <div class="overlay"><a href="/playlists/all-playlists">Discover playlists</a></div>
    </div>

    <div class="displaylist">
        <div class="overlay"><a href="/playlists/manage-playlist">Create your own playlist</a></div>
    </div>

</div>


{{!-- <div id="foot">
              //              
              ('>        _\/_  
              /rr        \  /  
© made with  *\))_  and   \/   
</div> --}}