<h1>Rabbit music</h1>
<p>Welcome to {{title}}</p>


<form action="/song-search" method="get">
    <label for="song">Search song: </label>
    <input type="text" name="song" id="song" required>
    <input type="submit" value="Search">
</form>