<section id="title-page">
    <div>
        <h1 class="mainTitle"><img src="/images/title-logo.svg" alt="Main title logo"></h1>
    </div>
    <h3 class="tagline">Listen, share, inspire</h3>

    <div class="search">
        <form class="searchBox" action="/search" method="get">
            <label for="song"></label>
            <input type="search" name="song" class="searchBar" placeholder="Search song..." id="song" required>
            <button type="submit" value="Search" class="searchBtn"><i class="fa fa-search"></i></button>
        </form>
    </div>

    <div class="display">

        <div class="displaylist">
            <div>
                <p class="rel-plt-title">The Hot 100</p>
                <p class="user-name-list">Created by <span class="yellow">Billboard</span></p>

                <ul class="song-lists">
                    <li class="li">
                        <img src="https://ibighit.com/bts/images/bts/discography/dynamite/Q7gBkUusiDcIYljQOMX9ow6W.jpg"
                            alt="" class="img-list-playlist">
                        <div class="title-art">
                            <span>Dynamite</span>
                            <span class="yellow">BTS</span>
                        </div>
                    </li>
                    <li class="li">
                        <img src="https://upload.wikimedia.org/wikipedia/en/f/f4/Cardi_B_-_WAP_%28feat._Megan_Thee_Stallion%29.png"
                            alt="" class="img-list-playlist">
                        <div class="title-art">
                            <span>WAP</span>
                            <span class="yellow">Cardi B, Meghan Thee Stallion</span>
                        </div>
                    </li>
                    <li class="li">
                        <img src="/images/bieber.png" alt="" class="img-list-playlist">
                        <div class="title-art">
                            <span>Holy</span>
                            <span class="yellow">Justin Bieber, Chance the Rapper</span>
                        </div>
                    </li>
                    <li class="li">
                        <img src="https://upload.wikimedia.org/wikipedia/en/d/d0/Drake_-_Laugh_Now_Cry_Later.png" alt=""
                            class="img-list-playlist">
                        <div class="title-art">
                            <span>Laugh now cry later</span>
                            <span class="yellow">Drake, Lil Durk</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="overlay"><a href="#">Most popular playlist</a></div>
        </div>

        {{!-- ------------- --}}




        <div class="displaylist">
            <div>
                <p id="title-hot" class="rel-plt-title">Hot Now</p>
                <ul class="song-lists">
                    <li class="li">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/71Rpx2zeRZL._SY355_.jpg" alt=""
                            class="img-list-playlist">
                        <div class="title-art">
                            <span>Daft Punk Top 100</span>
                            <p>Created by <span class="yellow">Electro99</span></p>
                        </div>
                    </li>
                    <li class="li">
                        <img src="https://i.redd.it/7z51a7xsgk411.png" alt="" class="img-list-playlist">
                        <div class="title-art">
                            <span>Best of K-Pop</span>
                            <p>Created by <span class="yellow">Kim Yoon-Ji</span></p>
                        </div>
                    </li>
                    <li class="li">
                        <img src="https://i.pinimg.com/236x/98/bb/fd/98bbfd21a907cc5e7251f85595a856d8--gwen-stefani-the-s.jpg"
                            alt="" class="img-list-playlist">
                        <div class="title-art">
                            <span>My Best Of 90s</span>
                            <p>Created by <span class="yellow">Millenial00</span></p>
                        </div>
                    </li>
                    <li class="li">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/71uR2KhRrZL._SL1066_.jpg" alt=""
                            class="img-list-playlist">
                        <div class="title-art">
                            <span>RnB Queens</span>
                            <p>Created by <span class="yellow">Mona C.</span></p>
                        </div>
                    </li>
                    <li class="li">
                        <img src="https://www.thebackpackerz.com/wp-content/uploads/2017/04/damn-cover-kendrick-lamar-album-2.jpg"
                            alt="" class="img-list-playlist">
                        <div class="title-art">
                            <span>Hip Hop US</span>
                            <p>Created by <span class="yellow">Gangsta$$</span></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="overlay"><a href="/playlists/all-playlists">Discover playlists</a></div>
        </div>


        <div class="displaylist">
            <div>
                <p class="rel-plt-title">Join the band</p>
                <img src="/images/join-us.png"
                            alt="" class="img-join">
            </div>
            <div class="overlay"><a href="/playlists/manage-playlist">Create your own playlist</a></div>
        </div>

    </div>
</section>

{{!-- <div id="foot">
              //              
              ('>        _\/_  
              /rr        \  /  
© made with  *\))_  and   \/   
</div> --}}