
<h1 class="mainTitle">Rabbeat <img src="/images/dot.png" alt="dot" class="dot">music</h1>

<div class="search">
<form class="searchBox" action="/search" method="get" >
    <label for="song"></label>
    <input type="search" name="song" class="searchBar" placeholder="Search song..."id="song" required>
    <button type="submit" value ="Search" class="searchBtn"><i class="fa fa-search"></i></button>
</form>
</div>


<footer><img src="/images/footer.png" alt="footer"></footer>
{{!-- <footer>
<p>               //              
<p>              ('>        _\/_  
<p>              /rr        \  /  
<p>© made with  *\))_  and   \/   
</footer> --}}

