
<h1>Rabbeat music</h1>
<p>Welcome to {{title}}</p>


<form action="/search" method="get">
    <label for="song">Search song: </label>
    <input type="text" name="song" id="song" required>
    <input type="submit" value ="Search">
</form>