{{> navbar }}


<h1>Rabbeat <img src="/images/dot.png" alt="dot" class="dot">music</h1>
<p>Welcome to {{title}}</p>

<div class="searchBox">
<form action="/search" method="get" >
    <label for="song"></label>
    <input type="search" name="song" class="searchBar" placeholder="Search song..."id="song" required>
    <button type="submit" value ="Search" class="searchBtn"><i class="fa fa-search"></i></button>
</form>
</div>

