<h1>Related playlist</h1>

{{#each relatedPlaylist}}
<div>
<p>
{{this.name}}:
</p>
<ul>
{{#each this.details}}
<li>
<img src="{{#imageDisplay this.album.images}}{{/imageDisplay}}" alt="" class="imgsong">
{{#each this.album.artists}}
{{this.name}}
{{/each}}
{{this.name}}

</li>

{{/each}}
</ul>

</div>


{{/each}}