<section class="">
  <header class="">
    <h1 class="">Sign up</h1>
    <p class="">Welcome</p>
  </header>

{{!--   {{#if msg}}
  <p class="message {{msg.status}}">{{msg.text}}</p>
  {{/if}} --}}

  <form method="post" action="/auth/signup" id="form_user">
    <div class="">
      <label for="username" class="">User name</label>
      <input id="username" name="username" type="text" class="" placeholder="Toto" required value="toto">
    </div>
    <div class="">
      <label for="email" class="">Email</label>
      <input id="email" name="email" type="email" class="" placeholder="ouaich.coucou@gmail.com" required
        value="toto@toto.com">
    </div>
    <div class="">
      <label for="password" class="">Password</label>
      <input id="password" name="password" type="password" class="" placeholder="••••••" required value="1234">
    </div>
    <button class="">Create Account</button>
  </form>
  <p class="">Already have an account ? <a href="/auth/signin" class="">Sign In</a></p>
</section>