

  {{!-- {{#if error_msg}}
  <div class="flash-msg error">
    {{error_msg}}
  </div>
  {{/if}}  --}}

<section id="LoginTable">

<div class="signInImg"><img src="/images/headphones.png" alt="sign in logo" class="headphn"></div>

  <form method="post" action="/auth/signin" id="form_user">
    <ul class="liste">

      <li>
      <label for="email"></label>
      <input id="email" name="email" type="email" class="inputField" placeholder="Email"
        required value="">
    </li>

    <li>
      <label for="password" class="label-ref label"></label>
      <input id="password" name="password" type="password" class="inputField" placeholder="Password" required
        value="">
   </li>
   <li>
    <input type="submit" name="Log in" alt="Log in" value="Log in" id="btn">
    <p class="signup">Don't have an account yet ? <a href="/auth/signup" class="signuplink">Sign Up</a></p> 
    </li>
    </ul>

  </form>
</div>
</section>
