
   {{#if error_msg}}
  <div class="flash-msg error">
    {{error_msg}}
  </div>
  {{/if}}

<section id="LoginTable">

<div class="signInImg"><img src="/images/record.png" alt="sign in logo" class="headphn"></div>

  <form method="post" action="/auth/signup" id="form_user">

    <ul class="liste">

      <li>
      <label for="username"></label>
      <input id="username" name="username" type="text" class="inputField" placeholder="Username" required value="">
      </li>

      <li>
      <label for="email"></label>
      <input id="email" name="email" type="email" class="inputField" placeholder="Email" required
        value="">
      </li>

    <li>
      <label for="password"></label>
      <input id="password" name="password" type="password" class="inputField" placeholder="Password" required value="">
    </li>

    <li>
    <input type="submit" name="Sign up" alt="sign up" value="Sign up" id="btn">
    <p class="signupbis">Already have an account ? <a href="/auth/signin" class="signuplink">Sign In</a></p>
    </li>
    </ul>

  </form>
  
</div>
</section>