.songs-list {
  margin-top: 40px;
  width : 100%;
}

.songs {
  width : 50%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 5px;
}

.plt-img {
  width: 50%;
  display: block;
  margin : auto;
}

.cover-song {
  width : 20%;
}

.song-tle {
    width : 30%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.audio2 {
  width : 50%;
  padding-left: 10px;
}

.create-form {
  font-size: 1.2em;
}

.form-cr {
  font-size: 1.2;
  border-radius: 30px;
  padding: 10px;
}

.cr-btn {
  border: 1px solid rgba(237, 200, 50, 1);
  background: black;
  font-size: 0.8em;
  color: white;
  border-radius: 30px;
  padding: 10px 10px;
  cursor: pointer;
  text-decoration: none;
  margin: 20px 10px 0 10px;
}


.add-songs {
  margin-top: 30px;
  text-align: center;
  font-size: 2em;
}

.add-to-playlist {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.add-container {
    margin-bottom: 30px;
}

.add-song {
    margin-bottom: 50px;
}