.delete-song {
  border: 1px solid rgba(237, 200, 50, 1);
  background: black;
  font-size: 0.8em;
  color: white;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 20px 20px;
  text-align: center;
  display: inline;
}

.save-btn {
  border: 1px solid rgba(237, 200, 50, 1);
  background: black;
  font-size: 0.8em;
  color: white;
  border-radius: 30px;
  padding: 10px 30px;
  margin-top: 30px;
  cursor: pointer;
}

.dlt-btn {
  border: white solid 1px;
  width: 10%;
}

.songs-list {
  width: 100%;
  margin-top: 40px;
}

.add-playlist-btn {
  border: 1px solid rgba(237, 200, 50, 1);
  background: black;
  font-size: 0.8em;
  color: white;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 20px 20px;
  text-align: center;
  display: inline;
}
