@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

#navbar {
  display: flex;
  justify-content: flex-end;
}

body {
  width: 100vw;
  background-color: black;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
}

.mainTitle {
  width :60%;
  margin: 0 auto;

}


.tagline {
    font-size: 1.4em;
    font-weight: lighter;
    font-style: oblique;
    text-align: center;
    margin : 20px 0 40px 0;
}

.searchBox {
  width: 50%;
  display: flex;
}

.searchBar {
  width: 100%;
  border: 3px solid white;
  border-right: none;
  padding: 15px;
  height: 20px;
  border-radius: 20px 0 0 20px;
  outline: none;
  font-size: 1.3em;
}

.searchBtn {
  width: 50px;
  height: auto;
  border: 2px solid white;
  background: black;
  text-align: center;
  color: #fff;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  font-size: 20px;
}

.search {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.headphones {
  width: 25px;
  height: auto;
}

.signin a, .signin2 a {
  text-decoration: none;
  color: white;
  font-size: 1.4em;
  margin-right: 20px;
  padding-top: 5px;
}

.signin {
  display: flex;
  justify-content: flex-end;
  width : 8%;
}


/* boxes */

.display {
  width: 70vw;
  height: 43vh;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  
}

.displaylist {
  border: rgb(237, 200, 50) solid 1px;
  background: rgba(146, 143, 143, 0.2);
  width: 30%;
  height: 100%;
  position: relative;
  padding-top : 10px;
}

.display a,
.display a:hover {
  text-decoration: none;
  border: 0 none;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.35s;
}

.overlay:hover {
  opacity: 1;
}

.overlay > * {
  transform: translateY(20px);
  transition: transform 0.35s;
}

.overlay:hover > * {
  transform: translateY(0);
}

.log-in-logo {
  text-align: center;
  font-size : 2em;
  margin-top : 40px;
}

