@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

#navbar {
  display: flex;
  justify-content: flex-end;
}

body {
  width : 100vw;
  background-color: black;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
}

.mainTitle {
  font-family: "Monoton", cursive;
  font-size: 6em;
  font-weight: lighter;
  text-align: center;
  margin-top : 90px;
  color : rgb(237, 200, 50);
  
}

.dot {
    width : 1%;
    height : auto;
    margin : 0px 15px 20px 0px;

}

.searchBox {
    width: 50%;
    display: flex;
  }
  
  .searchBar {
    width: 100%;
    border: 3px solid white;
    border-right: none;
    padding: 15px;
    height: 20px;
    border-radius: 20px 0 0 20px;
    outline: none;
  }
  
  .searchBtn {
    width: 50px;
    height: auto;
    border: 2px solid white;
    background: black;
    text-align: center;
    color: #fff;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 20px;
  }

.search {
    display : flex;
    justify-content: center;
    margin-top : 70px;
}

footer img {
 width : 15%;
 height : auto;
 display: block;
 position : fixed;
 bottom : 0;
 left : 42%;
 
}
