<h1>Créer une playlist</h1>

<label for="playlist-name" class="">Nom de la playlist</label>
<input id="playlist-name" name="playlist-name" type="playlist-name" class="" placeholder="Ma super playlist" required>

<div class="song" song-id="{{song.id}}">
    <p>{{song.name}} de {{#each song.artists}}{{name}}, {{/each}}</p>
    <audio controls src="{{song.preview_url}}">
        Your browser does not support the
        <code>audio</code> element.
    </audio>
</div>


<a href="/playlists/create-playlist">Create playlist</a>