<h1>Créer une playlist</h1>

<label for="playlist-name" class="">Nom de la playlist</label>
<input id="playlist-name" name="playlist-name" type="playlist-name" class="" placeholder="Ma super playlist" required>

<div class="songs">
 id :   {{song}}
</div>

<a href="/playlists/create-playlist">Create playlist</a>