<h1 class="titlesr">Edit your own playlist</h1>

{{#each playlists}}
{{#isSameId  this.user ../userId }}
<div class="playlist">
    <p>{{this.name}}</p>
    <div class="btns">
    <a class="edit-btn" href="/playlists/edit-playlist/{{this._id}}">Edit</a>
    <a class="delete-btn" href="/playlists/delete-playlist/{{this._id}}">Delete</a>
    </div>
</div>
{{/isSameId}}
{{/each}}